<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RolServlet</servlet-name>
        <servlet-class>controlador.RolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonasServlet</servlet-name>
        <servlet-class>controlador.PersonasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParcialServlet</servlet-name>
        <servlet-class>controlador.ParcialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PruebaIntermediaServlet</servlet-name>
        <servlet-class>controlador.PruebaIntermediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaPruebaIntermediaServlet</servlet-name>
        <servlet-class>controlador.NotaPruebaIntermediaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaServlet</servlet-name>
        <servlet-class>controlador.MateriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CicloServlet</servlet-name>
        <servlet-class>controlador.CicloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraServlet</servlet-name>
        <servlet-class>controlador.CarreraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatedraticoServlet</servlet-name>
        <servlet-class>controlador.CatedraticoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolServlet</servlet-name>
        <url-pattern>/rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonasServlet</servlet-name>
        <url-pattern>/personas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParcialServlet</servlet-name>
        <url-pattern>/parcial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaIntermediaServlet</servlet-name>
        <url-pattern>/pruebaIntermedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaPruebaIntermediaServlet</servlet-name>
        <url-pattern>/notaPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaServlet</servlet-name>
        <url-pattern>/materia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CicloServlet</servlet-name>
        <url-pattern>/ciclo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraServlet</servlet-name>
        <url-pattern>/carrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatedraticoServlet</servlet-name>
        <url-pattern>/catedratico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
